header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 10px 0 1-px 12px;
  color: #6070ff;
}

nav {
  margin: 0 10px 0 0;
}

.hamburger {
  width: 35px;
  height: 4px;
  background-color: #6070ff;
  margin: 6px 0;
}
