body {
  background-color: #E5E5E5;
  margin: 0;
  font-family: Poppins, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0px 0px 0px 100px;
  margin-bottom: 100px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin: 10px 0 10px 12px;
  color: #6070ff;
}

nav {
  margin: 0 10px 0 0;
}

.hamburger {
  width: 35px;
  height: 4px;
  background-color: #6070ff;
  margin: 6px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 24px;
  height: 600px;
  background:
    url("images/Ellipse2.svg") 5% 70% no-repeat,
    url("images/Ellipse11.svg") 10% 51% / 20% no-repeat,
    url("images/Ellipse14.svg") 15% 30% no-repeat,
    url("images/Ellipse8.svg") 25% 40% no-repeat,
    url("images/Ellipse7.svg") 35% 95% no-repeat,
    url("images/Ellipse6.svg") 45% 85% no-repeat,
    url("images/Ellipse5.svg") 55% 75% no-repeat,
    url("images/Ellipse4.svg") 65% 65% no-repeat,
    url("images/Rectangle6.svg") 75% 55% no-repeat,
    url("images/Rectangle7.svg") 85% 45% no-repeat,
    url("images/Rectangle5.svg") 95% 35% no-repeat,
    url("images/Rectangle4.svg") 40% 5% no-repeat,
    url("images/Ellipse13.svg") 70% 25% no-repeat,
    url("images/Ellipse3.svg") 0% 0% / 30% no-repeat,
    url("images/Ellipse11.svg") 100% 20% no-repeat;
}

.hero-heading {
  font-weight: bold;
  font-size: 40px;
}

.hero-text {
  background-color: #fff;
  font-size: 16px;
}

.connect-text {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}

li {
  margin: 2px 10px 2px 0;
}

.social-image {
  width: 25px;
  height: 25px;
  text-align: center;
}

.portfolio-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 88px;
}

.portfolio-flex {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 24px;
}

.portfolio-flex > * {
  margin: 16px;
}

.portfolio-heading {
  font-size: 32px;
  font-weight: 700;
  color: #172B4D;
}

.portfolio-list-first {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.portfolio-list-dot {
  height: 8px;
  width: 8px;
  background-color: #C1C7D0;
  border-radius: 50%;
}

.portfolio-list-secondary {
  color: #7A869A;
  font-size: 13px;
}

.portfolio-text {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.language-text {
  border-radius: 8px;
  background-color: #EBEBFF;
  padding: 4px 12px;
  color: #6070FF;
}

button {
  border-color: #396DF2;
  color: #396DF2;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  width: 130px;
  height: 50px;
  border-radius: 16px;
}

button:hover {
  background-color: #6070ff;
}

button:visited {
  background-color: #2230d2;
}

button:disabled {
  color: #5e6c84;
  background-color: white;
}

button:link {
  color: #6070ff;
  background-color: white;
}

.about {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 88px 0px;
  border-radius: 0 70px 0 0;
}
.about > * {
  margin: 10px 24px;
}